body{
  margin: 0px;
  padding: 0px;
} 

.Prénom{

  font-size: 100px;
  color: #FFF2DC;
}
.Nom{

  font-size: 100px;
  color: #FFF2DC;
}
.zopre{
  position: absolute;
  padding: 25px 10px;
  background-color: #FFF2DC;
  color: #2A4E62;
  left: 425px;
  top: 20px;
  font-size: 37px;
  font-weight: bold;
}

.zono{
  position: absolute;
  padding: 25px 10px;
  background-color: #FFF2DC;
  color: #2A4E62;
  left: 425px;
  top: 145px;
  font-size: 37px;
  font-weight: bold;
}

.classe{
  position: absolute;
  font-size: 100px;
  color: #FFF2DC;
  top: 160px;
}

.p2{

  position: absolute;
  padding: 25px 10px;
  background-color: #FFF2DC;
  color: #2A4E62;
  left: 425px;
  top: 15px;
  font-size: 37px;
  font-weight: bold;

}

.jdas{

  position: absolute;
  font-size: 67px;
  color: #FFF2DC;
  top: 340px;
  font-weight: bold;

}

.divjdi{

  position: absolute;
  top: 500px;
  color: #FFF2DC;
  width: 100%;
}

.photoinput{
  position: absolute;
  top: 620px;
  color: #FFF2DC;
  font-size: 70px;
  font-weight: bold;
}

.chosirunfichier{
  font-size: 50px;
}

.chekboxl{
  transform: scale(3);
  left: 60px;
  margin: 40px 20px;
  width: 17px;
  height: 28px;
}


.lundi9{
  left: 500px;
  font-size: 40px;
  color: #FFF2DC;
  
}


.btngen{
  display: block;
  position: absolute;
  background: #2A4E62;
  border-radius: 50px;
  padding:       65px 90px;
  color:         #FFF2DC;
  display:       inline-block;
  font:          normal bold 65px/1 "Open Sans", sans-serif;
  text-align:    center;
  margin: auto;
  top: 865px;
  left: 28%;
}

.Imgvierge {
    width: 100%;
    position: absolute;
    top: 1150px;
    text-align: center;
    
}
.Imgv {
  position: relative;
  width: 100%;
  top: 0px;
}
  
.texte_centrer {
  width: 740px;
  text-align: start;
  position: absolute;
  top: 221px;
  left: 575px;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: Calibri;
  COLOR: #222222
}
.Classe {
  width: 500px;
  text-align: start;
  position: absolute;
  top: 271px;
  left: 455px;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-family: Calibri;
  COLOR: #666666
}

.CrgriseL {
    position: absolute;
    top: 919px;
    left: 232.5px;
    width: 36px;
      
}

.CrgriseM {
  position: absolute;
  top: 919px;
  left: 326px;
  width: 36px;
    
}

.CrgriseMe {
  position: absolute;
  top: 919px;
  left: 420.8px;
  width: 36px;
    
}

.CrgriseJ {
  position: absolute;
  top: 919px;
  left: 504.5px;
  width: 36px;
    
}

.CrgriseV {
  position: absolute;
  top: 919px;
  left: 591px;
  width: 36px;
    
}


.Regime1{
  width: 740px;
  text-align: start;
  position: absolute;
  top: 768px;
  left: 596px;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: Calibri;
  COLOR: #000000
}

.PP{
  position: absolute;
  top: 193px;
  left:64px;
  width: 105px;
}

.heureetdate{
  text-align: center;
  position: absolute;
  top: 1153px;
  font-size: 35px;
  width: 100%;
  font-family: Calibri;
  color: #6D6D6D;

}

.pctel{
  display: none;
}



